
/* Put your CSS here */
html, body {
	height:100%;
}

div.clear {
	clear: both;
}

#application-loader {
	margin-top: 30px;

	.app-loader-text {
		font-size: 18px;
		margin: 0 0 0 10px;
	}
}

#page-header {
	width: 300px;
	top: 0px;
	right: 0px;
	background: #FFF;
	height: 40px;
	position: absolute;
	position: fixed;
	z-index: 900;
}

#login-form {
	width: 500px;
	// center login form
	display: block;
  	margin-left: auto;
  	margin-right: auto;

  	#login-loader {
  		text-align: center;
  		padding: 11px;
  	}

	.form-horizontal {
		padding-left: 15px;
		padding-right: 15px;
	}
}

#login-panel {
	float: right;

	button {
		height: 40px;
		line-height: 30px;
		color: #000;
		display: block;
		padding-left: 0px;
	}

	button:focus {
		border: none;
		text-decoration: none;
		outline: none;
	}

	span {
		height: 44px;
		line-height: 45px;
		color: #000;
		display: block;
		//margin: 0 10px 0 0;
	}

	span:after {
		margin-left: 8px;
		margin-right: 5px;
		content: '|';
	}
}

.syca-list-group {
	// Benötigt damit die Ekcen der Liste abgerundet sind
	// Wird durch Metamorph sonst verhindert
	a:first-of-type {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	a:last-of-type {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

.syca-loader {

}

#tours-list {
	margin-top: 10px;
	overflow-y: auto;
	height: 500px;
	padding: 5px;

	#tours-loader {
  		text-align: center;
  		padding: 11px;
  	}
}

#tours-list-settings {
	form {
		width: 700px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

#messageView {
	$successColor: #47A447; // med. green
	$errorColor: #D2322D;   // med. red

	margin-bottom: 10px;

	div {
		left: 3em;
		right: 3em;
		height: 30px;
		color: white;
		border-radius: 5px;
		margin: 0 0 5px 0;
	}

	div:last-of-type {
		margin: 0;
	}

	div.messageWrapper {
		position: relative;
		left: 0px;
	}

	button {
		background: transparent;
		border: none;
		height: 20px;
		position: absolute;
		right: 5px;
	}

	p { float: left; }

	.success {
		padding: 5px;
		background-color: $successColor;
	}

	.error {
		padding: 5px;
		background-color: $errorColor;
	}

	.errorMessage {
		font-style: italic;
		font-weight: bold;
	}
}


#weatherContainer {
	height: 130px;
	width: 100%;
	padding: 0 25px;
	//border: 1px solid black;

	.cityName {
		font-weight: bold;
	}

	.loader {
		text-align: center;
		padding: 15px;
	}

	#weatherTitleContainer {
		padding: 4px;
		height: 30px;
		position: relative;
		left: 0px;


		p {
			float: left;
		}

		button {
			background: transparent;
			position: absolute;
			border: none;
			height: 20px;
			top: 5px;

		}

		#settingsBtn {
			right: 5px;
		}

		#refreshBtn {
			right: 30px;
		}


	}

	.weatherIconContainer {
		text-align: center;

		i {
			font-size: 2.5em;
		}
	}

	.weatherDataContainer {

		ul {
			list-style: none;
			padding: 0px;

			li:first-child {
				font-weight: bold;
			}

			span {
				margin-left: 5px;
			}
		}
	}
}

#weatherSettingsModal {
	$categoryBackroundColor: #f7f7f9;
	$categoryBorderColor: #e1e1e8;

	#searchField{
		margin: 5px;
	}

	.loader {
		text-align: center;
		padding: 15px;
	}


	p.settingCategory, p.currentCity {
		font-weight: bold;
		margin: 5px;
	}

	.list {
		margin: 5px;
	}

	.group {
		margin-bottom: 5px;
		border-radius: 2px;
		background-color: $categoryBackroundColor;
		border: 1px solid $categoryBorderColor;
	}
}
