<div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Start Bootstrap</a></li>
          <li class="active">{{#linkTo 'home'}}Home{{/linkTo}}</li>
          <li>{{#linkTo 'tours'}}Touren{{/linkTo}}</li>
          <li>{{#linkTo 'tour.new'}}Neue Tour{{/linkTo}}</li>
          <li>{{#linkTo 'statistics'}}Statistik{{/linkTo}}</li>
        </ul>
      </div>          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder">n</i></a>
            Simple Sidebar
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
           {{outlet}}
        </div>
      </div>     
    </div>
    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("active");
      });
    </script>
</div><!-- /.container -->