<div class="container">
	<div>
		<form class="form-inline">
    		{{view Ember.Select  contentBinding="EmberApp.weatherCondition" id="year" class="input-small"}}
    	   	{{view Ember.Select  contentBinding="EmberApp.weatherCondition" id="month" class="input-small"}}
		    <button type="submit" class="btn">Sign in</button>
		</form>
	</div>

	<h2>Touren2</h2>
	<div class="list-group">
	{{#each tour in model }}
		{{#linkTo 'tour.details' this class="list-group-item"}}
			<h4 class="list-group-item-heading"> {{tour.description}} : Name</h4>
			<p class="list-group-item-text"> {{tour.id}} : ID</p>
		{{/linkTo}}
	{{/each}}
	</div> <!-- /.list-group -->
</div> <!-- /.container -->
